
--===================================
-- cluster 1 - manually using account impact 
--===================================
select * from cluster_01_02_cluster_profile order by [No. of JE Docs] desc

select b.* from (
	select * from cluster_01_03_JE_doc_clustered 
) a left join cluster_01_01_JE_entry_details b
on a.CompanyName = b.CompanyName
and a.[DocumentNo_GLEntry] =b.DocumentNo_GLEntry
order by a.[No. of JE Docs] desc, a.[Cluster ID], b.DocumentNo_GLEntry


select count(*) from cluster_01_01_JE_entry_details
select count(*) from (select distinct CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,Description_GLEntry,NO_OF_JE_LINES from cluster_01_01_JE_entry_details) a -- 16956
select count(distinct [Cluster ID]) from cluster_01_02_cluster_profile -- 19551 clusters 
select count(*) from cluster_01_03_JE_doc_clustered -- 22262 JE docs

select * from cluster_01_01_JE_entry_details

select count(*) from cluster_01_01_JE_entry_details -- 51977
select count(*) from (select distinct CompanyName,DocumentNo_GLEntry,EntryNo_GLEntry from refHL_staging_JE_updated_All) a -- 51977
select count(*) from (select distinct CompanyName,DocumentNo_GLEntry from refHL_staging_JE_updated_All) a -- 16956

select count(*) from (select distinct CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry from refHL_staging_JE_updated_All) a -- 16973

select count(*) from (select distinct CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,Description_GLEntry from refHL_staging_JE_updated_All) a -- 22321
select count(*) from (select distinct CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,Description_GLEntry,NO_OF_JE_LINES from refHL_staging_JE_updated_All) a -- 22321

--------------- should posting date be considered ---- yes. related to same invoice but posted on diff date. could be by diff person 
select CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,NO_OF_JE_LINES,count(*) from cluster_01_01_JE_entry_details
group by CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,NO_OF_JE_LINES having NO_OF_JE_LINES<>count(*)
select * from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ22090242'

--------------- should description be considered ---- no 
select CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,Description_GLEntry,NO_OF_JE_LINES,count(*) from cluster_01_03_JE_doc_clustered
group by CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,Description_GLEntry,NO_OF_JE_LINES having count(*)>1 
-- within same document can have different description 
select * from cluster_01_03_JE_doc_clustered where DocumentNo_GLEntry = 'GJ22100327'
select * from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ22100327'


select CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,NO_OF_JE_LINES,count(*) from refHL_staging_JE_updated_All 
group by CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry,NO_OF_JE_LINES having NO_OF_JE_LINES <> count(*) --- 16956
order by DocumentNo_GLEntry
select * from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ23010180'

select count(*) from refHL_staging_JE_updated_All
select * from cluster_01_02_cluster_profile where [Cr 70010100 (unrealized exchange gain/loss)] > 1
--select count(*) from refHL_staging_JE_updated_All where NO_OF_GL_ACC = 2




select * from cluster_01_03_JE_doc_clustered -- 16973 je doc
select distinct [Cluster ID] from cluster_01_03_JE_doc_clustered -- 711 clusters
select * from cluster_01_02_cluster_profile order by [No. of JE Docs] desc -- 711 clusters


select b.* from (
	select * from cluster_01_03_JE_doc_clustered 
) a left join cluster_01_01_JE_entry_details b
on a.CompanyName = b.CompanyName
and a.[DocumentNo_GLEntry] =b.DocumentNo_GLEntry
where [Cluster ID] = 711
order by a.[No. of JE Docs] desc, a.[Cluster ID], b.DocumentNo_GLEntry





------ each JE has max how many accounts? 
select CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry, count(distinct No_GLAcc) from refHL_staging_JE_updated_All group by CompanyName,DocumentNo_GLEntry,PostingDate_GLEntry order by 4 desc
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ23120623'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ23120293'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ22120652'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'GJ22120243'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'FX202403 FXEV'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'FX202311 FXEV'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'FX202404 FXEV'
select distinct Description_GLEntry from refHL_staging_JE_updated_All where DocumentNo_GLEntry = 'FX202312 FXEV'
